NEXT_PUBLIC_INSFORGE_BASE_URL=https://hmqm8s6a.us-east.insforge.app
NEXT_PUBLIC_INSFORGE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3OC0xMjM0LTU2NzgtOTBhYi1jZGVmMTIzNDU2NzgiLCJlbWFpbCI6ImFub25AaW5zZm9yZ2UuY29tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NTM0OTZ9.oyzIsrC_8S6oi9aTrBy6CIlCBxkNxkkdp8lShqqtOTY
INSFORGE_PROJECT_API_KEY=ik_48755d9ec62e383b1a7fc5863a8a3544

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWxsb3dpbmctbW9vc2UtMzAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_jiMhl9D0OB7pTqVsQ774CDHE2BnK5LHVRLU4nfVLkX

NEXT_PUBLIC_CLERK_INSFORGE_TEMPLATE=insforge
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

#NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=https://yolande-sistroid-jenee.ngrok-free.dev

CHANNEL_OAUTH_STATE_SECRET=
CHANNEL_TOKEN_ENCRYPTION_KEY=

INNGEST_DEV=1

TWITTER_CLIENT_ID=
TWITTER_AUTH_URL=https://x.com/i/oauth2/authorize
TWITTER_TOKEN_URL=https://api.x.com/2/oauth2/token
TWITTER_PROFILE_URL=https://api.x.com/2/users/me?user.fields=profile_image_url,username
TWITTER_SCOPES=tweet.read,users.read,tweet.write,offline.access,media.write

# *****************
# 🧾 Purchase a commercial license to get the full, complete .env file
# *****************
